cryptography==3.3.2
docutils>=0.12
docopt>=0.6.2
Flask>=0.11.1
Flask-HTTPAuth>=3.2.2
jsonschema>=2.5.1
lxml>=3.6.4
python-dateutil>=2.5.3
PyYAML>=3.12
requests>=2.14.2
schematics>=2.0.0
onapsmsclient>=0.0.4
pymzn>=0.18.3
onappylog>=1.0.9
pathtools>=0.1.2
pycryptodome>=3.9.6
python-consul>=1.1.0
tornado>=6.1
