# -------------------------------------------------------------------------
#   Copyright (c) 2015-2017 AT&T Intellectual Property
#
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.
#
# -------------------------------------------------------------------------
#

# You may change this file while your program is running and CommonLogger will automatically reconfigure accordingly.
# Changing these parameters may leave old log files lying around.


#--- Parameters that apply to all logs
#
# rotateMethod:  time, size, stdout, stderr, none
#... Note:  the following two parameters apply only when rotateMethod=time
# timeRotateIntervalType:  S, M, H, D, W0 - W6, or midnight  (seconds, minutes, hours, days, weekday (0=Monday), or midnight UTC)
# timeRotateInterval:  >= 1  (1 means every timeRotateIntervalType, 2 every other, 3 every third, etc.)
#... Note:  the following parameter applies only when rotateMethod=size
# sizeMaxBytes:  >= 0  (0 means no limit, else maximum filesize in Bytes)
# backupCount:  >= 0  (Number of rotated backup files to retain.  If rotateMethod=time, 0 retains *all* backups.  If rotateMethod=size, 0 retains *no* backups.)
#
rotateMethod           = time
timeRotateIntervalType = midnight
timeRotateInterval     = 1
sizeMaxBytes           = 0
backupCount            = 6


#--- Parameters that define log filenames and their initial LogLevel threshold
#... Note:  CommonLogger will exit if your process does not have permission to write to the file.
#

error           = /opt/logs/oof/error.log
errorLogLevel   = WARN
errorStyle      = error

metrics         = /opt/logs/oof/metrics.log
metricsLogLevel = INFO
metricsStyle    = metrics

audit           = /opt/logs/oof/audit.log
auditLogLevel   = INFO
auditStyle      = audit

debug           = /opt/logs/oof/debug.log
debugLogLevel   = DEBUG
debugStyle      = debug
